#admin {
    .bg-sidebar {
        background-color: $mango-tango;
        color: $white;
    }
    .bg-navbar {
        background-color: $mango-tango;
        color: $white;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        a {
            text-decoration: none;
        }
    }
    .text-mango {
        color: $mango-tango;
    }
    .sidebar {
        padding: 0;
        height: 100%;
        position: relative;
        a {
            color: $white;
        }
        .sidebar-rest {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            z-index: -1;
            background-color: $mango-tango;
        }
        @include sm-screen {
            display: none;
        }
    }
    .nav-item:hover {
        background-color: $orange-web;
        color: $mango-tango;
        border-left: 5px solid $white;
    }
    .nav-item.active {
        background-color: $orange-web;
        color: $mango-tango;
        border-left: 5px solid $white;
    }
    .collapse {
        border-bottom: 1px solid $white;
    }
    .btn-color {
        background-color: $mango-tango;
        color: $white;
    }
    textarea {
        height: 70vh;
    }
    table {
        .icon {
            background-color: $black;
            color: $white;
            width: 40px;
            height: 40px;
            padding: inherit;
        }
        td {
            vertical-align: middle;
            >img {
                width: auto;
                height: 50px;
            }
        }
    }
    form {
        label {
            text-transform: capitalize;
        }
    }
}
