#headcomp {
    background-image: url("/storage/decoration/lying.png"), url("/storage/decoration/right-bg-decor.png");
    background-size: auto 80%, 70% 100%;
    background-repeat: no-repeat;
    background-position: right 90%, center right;
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    margin-bottom: 25px;
    @include md-screen {
        background-size: contain, 50% auto;
    }
    @include sm-screen {
        background-size: contain, 80% auto;
    }
    #content {
        width: 50%;
        color: $mango-tango;
        #title {
            font-size: 3rem;
            font-weight: bold;
        }
        #description {
            color: black;
            font-size: 1rem;
            font-weight: normal;
        }
        button {
            background-color: $orange-web;
            color: $white;
            font-size: 1rem;
            font-weight: bold;
            border: none;
            border-radius: 25px;
            padding: 0.5rem;
            margin-top: 1rem;
            cursor: pointer;
        }
    }
}
