#public {
    .container {
        .title {
            color: $mango-tango;
            font-weight: bolder;
        }
        #vision {
            .content {
                >* {
                    margin: 0 20px;
                }
                display: flex;
                .preview {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        #mission {
            .content {
                >* {
                    margin: 0 20px;
                }
                display: flex;
                flex-direction: row-reverse;
                .preview {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
    #about {
        background-image: url('/storage/decoration/manycat.png');
        background-size: cover;
        background-position: center;
        color: $white;
        text-align: center;
        padding: 60px 20px;
        margin-top: 50px;
        .title {
            font-weight: bold;
        }
    }
    #service,
    #product {
        .card {
            text-align: center;
            display: flex;
            align-items: center;
            .icon {
                width: 64px;
                height: 64px;
                display: inherit;
                align-items: center;
                justify-content: center;
                background-color: $mango-tango;
                color: $white;
                font-size: x-large;
                font-weight: bolder;
            }
            .card-body {
                .card-title,
                * {
                    color: $white;
                    text-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
                }
                h4 {
                    font-weight: bold;
                }
            }
        }
    }
}
